<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">


    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/web/konaadmin/**" access="hasRole('ROLE_KONA_ADMIN')"/>
        <intercept-url pattern="/web/bankadmin/**" access="hasRole('ROLE_BANK_ADMIN')"/>
        <intercept-url pattern="/web/bankofficer/**" access="hasRole('ROLE_BANK_OFFICER')"/>
        <intercept-url pattern="/web/kwalletuser/**" access="hasRole('ROLE_KWALLET_USER')"/>
        <form-login
                login-page="/web/login"
                default-target-url="/web/"
                username-parameter="email"
                password-parameter="password"/>
        <logout logout-url="/logout" logout-success-url="/web/login" invalidate-session="true" delete-cookies="JSESSIONID" />
        <access-denied-handler error-page="/web/access-denied" />
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="false" expired-url="/web/login"/>
        </session-management>
    </http>



    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder hash="plaintext">
            </password-encoder>
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="customUserDetailsService" class="com.konasl.kwmbs.service.CustomUserDetailsService"/>
</beans:beans>