<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-wstest:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-wstest</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-wstest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-wstest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.ws:spring-ws-core:2.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.ws:spring-xml:2.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-asm:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.1.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:3.2.8.RELEASE" />
          <element id="library" level="project" name="Maven: javax.xml.stream:stax-api:1.0-2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-oxm:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: wsdl4j:wsdl4j:1.6.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:3.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:3.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.ws:spring-ws-security:2.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: com.sun.xml.wss:xws-security:3.0" />
          <element id="library" level="project" name="Maven: javax.xml.crypto:xmldsig:1.0" />
          <element id="library" level="project" name="Maven: com.sun.org.apache.xml.security:xmlsec:2.0" />
          <element id="library" level="project" name="Maven: org.apache.ws.security:wss4j:1.5.8" />
          <element id="library" level="project" name="Maven: org.apache.santuario:xmlsec:1.4.3" />
          <element id="library" level="project" name="Maven: xalan:xalan:2.7.1" />
          <element id="library" level="project" name="Maven: xalan:serializer:2.7.1" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:3.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: javax.xml.bind:jaxb-api:2.0" />
          <element id="library" level="project" name="Maven: javax.xml.bind:jsr173_api:1.0" />
          <element id="library" level="project" name="Maven: javax.activation:activation:1.1" />
          <element id="library" level="project" name="Maven: com.sun.xml.bind:jaxb-impl:2.0.3" />
          <element id="library" level="project" name="Maven: org.apache.xmlbeans:xmlbeans:2.4.0" />
          <element id="library" level="project" name="Maven: stax:stax-api:1.0.1" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.16" />
        </element>
      </element>
    </root>
  </artifact>
</component>